### VITALS ###
NODE_PORT=2222
SECRET_KEY=SECRET_KEY_FROM_PANEL
MIERU_CONTROL_HELPER_PATH=/usr/local/bin/rw-mita-control
MIERU_ENABLED=false
MIERU_METRICS_BASELINE_PATH=/var/lib/remnanode/mieru-metrics-baselines.json
MITA_UDS_PATH=/var/run/mita/mita.sock
